<div class="container">
	<app-cockpit (serverAdded)="onServerAdded($event)"  (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-primary" (click)="onChangeFirst()">Change First element</button>
			<button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First element</button>
			<app-server-element *ngFor="let serverElement of serverElements;" [srvElement]="serverElement">
				<p #contentParagraph>Extra content</p>
			</app-server-element>
		</div>
	</div>
</div>